// color palette
$primary-color: hsl(239, 94%, 19%);
$secondary-color: hsl(201, 100%, 36%);
$tertiary-color: hsl(190, 100%, 42%);
$quaternary-color: hsl(189, 75%, 75%);
$quinary-color: hsl(189, 75%, 75%);
$border-color: hsl(180, 2%, 39%);
$text-color:hsl(189, 49%, 92%);

// fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
$font-noto: 'Noto Sans', sans-serif;